{% load static %}

<!DOCTYPE html>
<html lang="en">



{% include '_partials/_head.html' %}

<body>
    <div class="page-wrapper">
        <!-- set header -->

        {% include '_partials/_header.html' %}
        <div class="page-body-wrapper">

            {% include '_partials/_sidebar.html' %}


            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6 main-header">
                                <h2>KitGroup<span>Call</span></h2>
                                <!-- <h6 class="mb-0">admin panel</h6> -->
                            </div>
                            <div class="col-lg-6"></div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="row">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Content start here -->
                            {% block content %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
            <!-- footer start-->

            {% include '_partials/_footer.html' %}


            <!-- Page Sidebar Ends-->
        </div>
    </div>
</body>

</html>