{% extends 'base.html' %}

{% load static %}"

{% block content %}

<div class="flex-grow-1 p-3">
    <div class="card">
        <div class="card-body">
                        
            <form method="post">
                {% csrf_token %}

                <h5 class="card-title">Вивантаження даних</h5>
                    <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label text-lg-left" for="date">Початкова дата статистики</label>
                                <input id="contact_name" name="contact_name" type="date" placeholder="" class="form-control btn-square input-md">
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label text-lg-left" for="date">До: </label>
                                <input id="contact_name" name="contact_name" type="date" placeholder="" class="form-control btn-square input-md">
                            </div>
                        </div>
                        
                    <button type="submit" class="btn btn-primary">Вивантаження</button>
                </div>

            </form>

        </div>
    </div>
</div>



{% endblock %}