{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="form-group form-row">
    <label class="col-sm-3 col-form-label text-right">Minimum and maximum dates</label>
    <div class="col-xl-5 col-sm-9">
        <input class="form-control digits" id="minMaxExample" type="text">
    </div>
    <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
    <b>---</b>
    <label for="start">End date:</label>
    <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />

    <div class="datepicker -bottom-left- -from-bottom-" style="left: -100000px; top: 572.1875px;"><i
            class="datepicker--pointer"></i>
        <nav class="datepicker--nav">
            <div class="datepicker--nav-action -disabled-" data-action="prev"><svg>
                    <path d="M 17,12 l -5,5 l 5,5"></path>
                </svg></div>
            <div class="datepicker--nav-title">November, <i> 2024 </i></div>
            <div class="datepicker--nav-action" data-action="next"><svg>
                    <path d="M 14,12 l 5,5 l -5,5"></path>
                </svg></div>
        </nav>
        <div class="datepicker--content">
            <div class="datepicker--days datepicker--body active">
                <div class="datepicker--days-names">
                    <div class="datepicker--day-name -weekend-">Su</div>
                    <div class="datepicker--day-name">Mo</div>
                    <div class="datepicker--day-name">Tu</div>
                    <div class="datepicker--day-name">We</div>
                    <div class="datepicker--day-name">Th</div>
                    <div class="datepicker--day-name">Fr</div>
                    <div class="datepicker--day-name -weekend-">Sa</div>
                </div>
                <div class="datepicker--cells datepicker--cells-days">
                    <div class="datepicker--cell datepicker--cell-day -weekend- -other-month- -disabled-" data-date="27"
                        data-month="9" data-year="2024">27</div>
                    <div class="datepicker--cell datepicker--cell-day -other-month- -disabled-" data-date="28"
                        data-month="9" data-year="2024">28</div>
                    <div class="datepicker--cell datepicker--cell-day -other-month- -disabled-" data-date="29"
                        data-month="9" data-year="2024">29</div>
                    <div class="datepicker--cell datepicker--cell-day -other-month- -disabled-" data-date="30"
                        data-month="9" data-year="2024">30</div>
                    <div class="datepicker--cell datepicker--cell-day -other-month- -disabled-" data-date="31"
                        data-month="9" data-year="2024">31</div>
                    <div class="datepicker--cell datepicker--cell-day -disabled-" data-date="1" data-month="10"
                        data-year="2024">1</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend- -disabled-" data-date="2"
                        data-month="10" data-year="2024">2</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend- -disabled-" data-date="3"
                        data-month="10" data-year="2024">3</div>
                    <div class="datepicker--cell datepicker--cell-day -current-" data-date="4" data-month="10"
                        data-year="2024">4</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="5" data-month="10" data-year="2024">5
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="6" data-month="10" data-year="2024">6
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="7" data-month="10" data-year="2024">7
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="8" data-month="10" data-year="2024">8
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="9" data-month="10"
                        data-year="2024">9</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="10" data-month="10"
                        data-year="2024">10</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="11" data-month="10" data-year="2024">
                        11</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="12" data-month="10" data-year="2024">
                        12</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="13" data-month="10" data-year="2024">
                        13</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="14" data-month="10" data-year="2024">
                        14</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="15" data-month="10" data-year="2024">
                        15</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="16" data-month="10"
                        data-year="2024">16</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="17" data-month="10"
                        data-year="2024">17</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="18" data-month="10" data-year="2024">
                        18</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="19" data-month="10" data-year="2024">
                        19</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="20" data-month="10" data-year="2024">
                        20</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="21" data-month="10" data-year="2024">
                        21</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="22" data-month="10" data-year="2024">
                        22</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="23" data-month="10"
                        data-year="2024">23</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="24" data-month="10"
                        data-year="2024">24</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="25" data-month="10" data-year="2024">
                        25</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="26" data-month="10" data-year="2024">
                        26</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="27" data-month="10" data-year="2024">
                        27</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="28" data-month="10" data-year="2024">
                        28</div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="29" data-month="10" data-year="2024">
                        29</div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="30" data-month="10"
                        data-year="2024">30</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}