{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="flex-grow-1 p-3">
    <div class="card">
        <div class="card-body">
                        
            <form method="post">
                {% csrf_token %}

                <div class="container-fluid">
                    <h5 class="card-title">Нова заявка</h5>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label text-lg-left" for="textinput">Ім'я клієнта</label>
                                <input id="contact_name" name="contact_name" type="text" placeholder="" class="form-control btn-square input-md">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label text-lg-left" for="textinput">Телефон/Телеграм</label>
                                <input id="telephone_telegram" name="telephone_telegram" type="text" placeholder="" class="form-control btn-square input-md">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="validationTooltip03">Місто звернення/заносу</label>
                                <input class="form-control" name='request_city', id="request_city" type="text" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="validationTooltip03">Місто видачі</label>
                                <input class="form-control" name='city_out', id="city_out" type="text" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="validationTooltip03">Сума</label>
                                <input class="form-control" name='sum_of_request', id="validationTooltip03" type="text" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="validationTooltip03">Валюта</label>
                                <select class="custom-select" name='currency_of_request', required="">
                                    {% for currency in currencies %}
                                        <option value="{{ currency }}">{{ currency }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label text-lg-left" for="textinput">Опис запиту</label>
                                <textarea id="description" name="description" type="text" placeholder="" class="form-control btn-square input-md"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Відправити заявку</button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}