{% load static %}

<div class="page-main-header">
    <div class="main-header-right">
        <div class="main-header-left text-center">
            <div class="img-fluid"><a href="#"><img height="80"
                        src="{% static 'assets/images/logo/logo-new-green.png' %}" alt=""></a></div>
        </div>
        <!-- <div class="mobile-sidebar">
             <div class="media-body text-right switch-sm">
                <label class="switch ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-align-center font-primary" id="sidebar-toggle">
                        <line x1="18" y1="10" x2="6" y2="10"></line>
                        <line x1="21" y1="6" x2="3" y2="6"></line>
                        <line x1="21" y1="14" x2="3" y2="14"></line>
                        <line x1="18" y1="18" x2="6" y2="18"></line>
                    </svg></label>
            </div> 
        </div> -->
        <div class="vertical-mobile-sidebar"><i class="fa fa-bars sidebar-bar"> </i></div>
        <div class="nav-right col pull-right right-menu">
            <ul class="nav-menus">
                <li>
                  
                </li>
                <li>{{ first_name }}</li>
                <li> 
                    <img class="img-fluid" src="{{ profile_photo }}" alt="" style="height: 50px;width: 50px;">
                </li>
            </ul>
            
            <div class="d-lg-none mobile-toggle pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg></div>
        </div>
        <script id="result-template" type="text/x-handlebars-template">
        <div class="ProfileCard u-cf">                        
        <div class="ProfileCard-avatar"><i class="pe-7s-home"></i></div>
        <div class="ProfileCard-details">
        <div class="ProfileCard-realName">{{name}}</div>
        </div>
        </div>
      </script>
        <script id="empty-template"
            type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
    </div>
</div>