{% load static %}

<!-- Page Sidebar Start-->
<div class="iconsidebar-menu">
    <div class="sidebar">
        <ul class="iconMenu-bar custom-scrollbar">
            <li class="open">
                <a class="bar-icons" href="javascript:void(0)">
                    <i class="pe-7s-phone"></i>
                    <span>Колл-центр</span>
                </a>
                <ul class="iconbar-mainmenu custom-scrollbar">
                    <li class="active"><a href="#">Створення заявки</a></li>
                </ul>
            </li>
            <li class="active">
                <a class="bar-icons" href="{% url 'logout' %}">
                    <i class="pe-7s-close-circle"></i>
                    <span>Вихід</span>
                    
                </a>
            </li>
        </ul>
    </div>
</div>
