{% load static %}

<!-- Page Sidebar Start-->
<div class="iconsidebar-menu">
    <div class="sidebar">
        <ul class="iconMenu-bar custom-scrollbar">
            <li class="open">
                <a class="bar-icons" href="javascript:void(0)">
                    <i class="pe-7s-phone"></i>
                    <span>Створення заявки</span>
                </a>
                <!-- <ul class="iconbar-mainmenu custom-scrollbar">
                    <li class="iconbar-header sub-header">Header</li>
                    <li><a href="../starter-kit/index.html">item1 </a></li>
                    <li><a href="../starter-kit/index.html">item2 </a></li>
                </ul> -->
            </li>
            <li class="">
                <a class="bar-icons" href="{% url 'logout' %}">
                    <i class="pe-7s-close-circle"></i>
                    <span>Вихід</span>
                    
                </a>
            </li>
        </ul>
    </div>
</div>
